/*---------------------------------------------------------------
------------------------ DEBUGGING --------------------------
-----------------------------------------------------------------

body { 
    background: red;
}

.content {
    border: 1px solid red;
}

nav {
    background: rgb(248, 198, 104);
}

nav ul {
    background: chartreuse;
}

nav ul a li {
    border: 1px solid salmon;
}

nav ul a {
    background: blue;
}

main { 
    background: yellow;
}

article {
    background: rgb(106, 175, 202);
}
*/


/*---------------------------------------------------------------
------------------------ GLOBAL STYLES --------------------------
-----------------------------------------------------------------*/

/* borrowed off Josh Comeau */

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}
  
html {
    height: 100%;
}
  
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-size: 0.9rem;
}
  
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
  
input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

#root, #__next {
    isolation: isolate;
}

/* other suggested global styles from Codecademy full stack pathway */

html {
    font-size: 100%; 
}

/* my own defaults */

a {
    text-decoration: none; /* get rid of underline */
}

/*---------------------------------------------------------------
------------------------ MOBILE STYLE --------------------------
----------------------------------------------------------------- */

body {
    font-family: 'Inter', /* find another font fall-back before sans serif */ sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* initially had place content which only works if the value of both justify-content and align-content are center */
    background-color: hsl(36, 100%, 99%);
    min-height: 100%;
}

.content {
    display: grid;
    grid-auto-flow: row;
    gap: 24px;
    padding: 24px 0;
    margin: auto 24px;
    height: min-content;
}

nav ul { /* hide navigation menu for mobile */
    display: none;
}

h1:hover,
nav a li:hover {
    color: hsl(5, 85%, 63%);
}

h1 { /* semantically i think this is the most important in website as the logo */
    font-size: 3rem;
    line-height: 3.5rem;
    color: black;
    font-family: serif;
}

h2 { /* even though main content heading is larger than h1, semantically less important imho */
    font-size: 3rem;
    line-height: 3.5rem;
    font-weight: 800;
    margin: auto 0; /* align title in the middle of its container */
}

h3 { /* applied to "new" section heading */
    padding-top: 24px;
    font-size: 2rem;
    line-height: 2rem;
    color: hsl(35, 77%, 62%);
}

h4 { /* new section article headings */
    font-size: 1.1rem;
    font-weight: 800;
    color: hsl(36, 100%, 99%);
}

h5 { /* other section numbers ? unsure if these have semantic meaning */ 
    font-size: 1.4rem;
    line-height: 1.4rem;
    font-weight: 800; /* ? need to double check this weight */
    color: hsl(233, 8%, 79%);
}

h6 { /* other section headings */
    font-size: 0.9rem;
    font-weight: 800; /* ? need to double check this weight */
    padding-top: 0.5rem;
    color: black;
}

p {
    color: hsl(236, 13%, 42%);
}

button {
    color: hsl(36, 100%, 99%);
    letter-spacing: 5px;
    font-weight: 700;
    background-color: hsl(5, 85%, 63%);
    border: none;
    padding: 10px 24px;
    margin-top: 24px;
    cursor: pointer;
}

a button:hover {
    background: hsl(240, 100%, 5%);
}

.main-content {
    margin: 24px 0px;
}

main img { 
    height: calc(100vw - 48px); /* ? not sure if specifying dimension is ok, how to make height same as width of mobile screen */
    /* how to swap out images in html doc? unless i use image as background in css? */
    object-fit: cover;
}

main p {
    padding: 1rem 0px;
}

section.new {
    background: hsl(240, 100%, 5%);
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

section.new a article {
    padding: 24px 0px;
    border-bottom: 1px solid hsl(233, 8%, 79%);
}

section.new a article:hover h4 { /* targeting titles of section "new" when we hover over the entire article block */
    color: hsl(35, 77%, 62%);
}

section.new { 
    border: 0;
}

section.new p {
    color: hsl(233, 8%, 79%);
}

section.other article { /* applies flex within the link block to get img, title and desc sitting side by side */
    padding: 12px 0px;
    margin: 12px 0px;
}

article.other-1, 
article.other-2,
article.other-3 {
  display: flex;
  flex-direction: row;  
}

a article:hover .other-summary h6 { /* targeting titles of section "new" when we hover over the entire article block */
    color:hsl(5, 85%, 63%);
}

section.other {
    margin-top: 48px;
}

img {
    height: 100px;
}

article.other-1 p, 
article.other-2 p,
article.other-3 p {
    padding-top: 0.5rem; 
}

article.other-1, 
article.other-2,
article.other-3 {
    max-height: 105px;
    text-overflow: ellipsis ellipsis;
    overflow: hidden;
    white-space: normal;
}

section.other article:first-of-type {
    padding-top: 0px;
    margin-top: 0px;
}

.other-summary {
    margin-left: 16px;
}

aside { 
    font-size: 11px; 
    text-align: center; 
}

aside a { 
    color: hsl(228, 45%, 44%); 
}

/*---------------------------------------------------------------
------------------------ DESKTOP --------------------------
-----------------------------------------------------------------*/

@media (min-width: 500px) {
    
    .content {
        grid-template-columns: 1fr 1fr 1fr;

        max-width: 75%;
    }

    .main-content-more p {
        background: orange;
        padding: 0;
    }

    h1 {
        font-size: 3.5rem;
    }

    h2 {
        padding-right: 20px;
    }
    
    nav {
        grid-column: 1 / 4;
        grid-row: 1 / 2;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    nav ul {
        display: flex;
        align-items: center;
        list-style: none;        
        font-size: 0.9rem;
        margin-right: -10px;
    }
    
    nav ul a li {
        padding: 0 10px;
        color: hsl(233, 8%, 79%);
        margin-left: 10px;
    }

    nav ul:last-child {
        padding-right: 0px;
    }

    main {
        grid-column: 1 / 3;
        grid-row: 2 / 4;
    }

    main img {
        grid-column: 1 / 3;
        grid-row: 2 / 3;
        height: 100%;
    }

    .main-title {
        grid-column: 1 / 2;
        grid-row: 4 / 5;
        line-height: 3.5rem;
    }

    .main-summary {
        grid-column: 2 / 3;
        grid-row: 4 / 5;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    section.new {
        grid-column: 3 / 4;
        grid-row: 2 / 5;
    }

    article.other-1 {
        grid-column: 1 / 2;
        grid-row: 5 / 6;
    }

    article.other-2 {
        grid-column: 2 / 3;
        grid-row: 5 / 6;
    }

    article.other-3 {
        grid-column: 3 / 4;
        grid-row: 5 / 6;
    }

    aside {
        grid-column: 1 / 4;
        grid-row: 6 / 7;
    }

}