/*---------------------------------------------------------------
------------------------ DEBUGGING --------------------------
-----------------------------------------------------------------

body { 
    background: red;
}

.content {
    border: 1px solid red;
}

nav {
    background: rgb(248, 198, 104);
}

nav ul {
    background: chartreuse;
}

nav ul a li {
    border: 1px solid salmon;
}

nav ul a {
    background: blue;
}

main { 
    background: yellow;
}

section {
    background: teal;
}

article {
    background: rgb(106, 175, 202);
}

h2 {
    background: salmon;
}

nav {
    background: blue;
}

.nav-expander {
    background: green;
}

*/

/*---------------------------------------------------------------
------------------------ GLOBAL STYLES --------------------------
-----------------------------------------------------------------*/

/* borrowed off Josh Comeau */

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}
  
html {
    height: 100%;
}
  
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-size: 0.9rem;
}
  
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
  
input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

#root, #__next {
    isolation: isolate;
}

/* other suggested global styles from Codecademy full stack pathway */

html {
    font-size: 100%; 
}

/* my own defaults */

a {
    text-decoration: none; /* get rid of link underlines */
}

/*---------------------------------------------------------------
------------------------ MOBILE STYLE --------------------------
----------------------------------------------------------------- */

body {
    font-family: 'Inter', /* find another font fall-back before sans serif */ sans-serif;
    line-height: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* initially had place content which only works if the value of both justify-content and align-content are center */
    background-color: hsl(36, 100%, 99%);
    min-height: 100%;
}

.content {
    display: grid;
    grid-auto-flow: row;
    gap: 24px;
    padding: 24px 0;
    margin: auto 24px;
    height: fit-content;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
 
.nav-wrapper {  /* debug for content menu */
    display: none;
}

/*
.wrapper {
    position: fixed;
    background: red;
    right: 0;
}

nav ul { 
    display: flex;
    flex-direction: column;
    background: yellow;
}
*/

nav a li:hover,
nav a li:focus {
    color: hsl(5, 85%, 63%);
}

.logo {
    width: 50px;
    height: 50px;
    object-fit: contain;
    
}

.home:hover .logo { /* hover over parent, but animate the child */
    transform: translateY(-5px);
}

.logo,
nav a li,
button a,
section.new a article h4,
a article .other-summary h6 {
    transition: ease 150ms;
}


h2 { 
    font-size: 2.5rem;
    line-height: 3rem;
    font-weight: 800;
}

h3 { /* applied to "new" section heading */
    font-size: 2rem;
    line-height: 2rem;
    padding-bottom: 24px;
    font-weight: 600;
    color: hsl(35, 77%, 62%);
}

h4 { /* new section article headings */
    font-size: 1.1rem;
    line-height: 1.5rem;
    padding-bottom: 0.5rem;
    font-weight: 800;
    color: hsl(36, 100%, 99%);
}

h5 { /* other section numbers ? unsure if these have semantic meaning */ 
    font-size: 1.4rem;
    line-height: 1.4rem;
    font-weight: 800; /* ? need to double check this weight */
    color: hsl(233, 8%, 79%);
}

h6 { /* other section headings */
    font-size: 1rem;
    font-weight: 800; /* ? need to double check this weight */
    color: black;
}

p {
    color: hsl(236, 13%, 42%);
}

button {
    display: flex; 
    border: none; 
    margin-top: 24px;
}

button a {
    font-size: 0.8rem;
    color: hsl(36, 100%, 99%);
    letter-spacing: 5px;
    font-weight: 700;
    padding: 10px 20px;
    background-color: hsl(5, 85%, 63%);
    transition: ease 150ms;
}

button a:hover {
    background: hsl(240, 100%, 5%);
}

main {
    display: contents;
}

main img { 
    height: calc(100vw - 48px); /* ? not sure if specifying dimension is ok, how to make height same as width of mobile screen */
    /* how to swap out images in html doc? unless i use image as background in css? */
    object-fit: cover;
}

section.new {
    background: hsl(240, 100%, 5%);
    margin-top: 24px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

section.new a article:hover h4 { /* targeting titles of section "new" when we hover over the entire article block */
    color: hsl(35, 77%, 62%);
}

section.new p {
    color: hsl(233, 8%, 79%);
}

section.new .border-bottom {
    border-bottom: 1px solid hsl(233, 8%, 79%);
    padding-top: 24px;
    margin-bottom: 24px;
}

section.other article {
    margin: 24px 0px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    text-overflow: ellipsis;
}

section.other article:last-child { 
    margin-bottom: 0;
}

.other-summary {
    display: flex;
    flex-direction: column;
    justify-content: space-between;  
}

a article:hover .other-summary h6 { /* targeting titles of section "new" when we hover over the entire article block */
    color:hsl(5, 85%, 63%);
}

section.other img {
    width: 100px;
    object-fit: cover;
}

.other-summary {
    margin-left: 16px;
}

.divider { /* extra spacing between "other" section and top two */
    display: none;
}

aside { 
    font-size: 11px; 
    text-align: center; 
    padding-bottom: 12px;
}

aside a { 
    color: hsl(228, 45%, 44%); 
}

/*---------------------------------------------------------------
------------------------ TABLET --------------------------
-----------------------------------------------------------------*/

@media (min-width: 520px) {
    
    .content {
        grid-template-columns: 1fr 1fr;
    } 

    .nav-wrapper {
        display: block;
        position: static;
    }

    nav ul {
        flex-direction: row;
    }

    .nav-expander {
        display: none;
    }

    h2 {
        font-size: 3rem;
        line-height: 3rem;
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }

    nav {
        grid-column: 1 / -1;
        grid-row: 1 / 2;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    nav ul {
        display: flex;
        align-items: center;
        list-style: none;        
        font-size: 0.9rem;
        margin-right: -10px; /* get last item in list to align with end of  "new" section */
    }

    nav ul a li {
        padding: 0 10px;
        color: hsl(233, 8%, 79%);
        margin-left: 10px;
    }

    nav ul:last-child {
        padding-right: 0px;
    }
    
    picture {
        display: contents;
    }

    main img {
        grid-column: 1 / -1;
        grid-row: 2 / 3;
        height: 100%;
    }

    .main-summary {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
    }

    section.new {
        margin-top: 24px;
        grid-column: 1 / 2;
        grid-row: 4 / 5;
    }

    section.other {
        grid-column: 2 / -1;
        grid-row: 4 / 5;
        display: flex;
        flex-direction: column;
    }

    section.other article {
        margin-bottom: 24px;
    }

}

/*---------------------------------------------------------------
------------------------ DESKTOP --------------------------
-----------------------------------------------------------------*/

@media (min-width: 900px) {

    .content {
        grid-template-columns: 1fr 1fr 1fr;
        max-width: 1200px;
    }

    h2 {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
        line-height: 3.5rem;
        padding-right: 20px;
    }

    h3 {
        padding-bottom: 0px;
    }

    source {
        display: none;
    }

    main img {
        grid-column: 1 / 3;
        grid-row: 2 / 3;
        min-height: 340px; /* close to max size that image grows to on tablet to minimise sudden changes */
    }

    .main-summary {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
    }

    section.new {
        margin-top: 0;
        grid-column: 3 / 4;
        grid-row: 2 / 4;
    }

    section.new .border-bottom {
        border-bottom: 1px solid hsl(233, 8%, 79%);
        padding-top: 0px;
        margin-bottom: 0px;
    } 

    .divider { /* extra spacing between "other" section and top two */
        display: block;
        grid-column: 1 / -1;
        grid-row: 4 / 5;
    }
    
    section.other {
        display: contents;
    }

    section.other a article {
        margin: 0;
        padding-bottom: 0;
    }

    aside {
        grid-column: 1 / 4;
        grid-row: 6 / 7;
    }

}